<!DOCTYPE html>
<html lang="en">
<head>
  <title>Shopping Paradise By hzt </title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
</head>
<body>
<div class="container">
<!--  <div class="dropdown">-->
<!--    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">-->
<!--      Dropdown button-->
<!--    </button>-->
<!--    <ul class="dropdown-menu">-->
<!--      <li><a class="dropdown-item" href="#">Action</a></li>-->
<!--      <li><a class="dropdown-item" href="#">Another action</a></li>-->
<!--      <li><a class="dropdown-item" href="#">Something else here</a></li>-->
<!--    </ul>-->
<!--  </div>-->

  <nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">购物商城 </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <!--            商城就是所有卖家的index  index显示他们的所有商店-->
            <%= link_to '关于', home_about_path , class: "nav-link#{" active" if controller_name == "users"}" %>
          </li>

          <% if current_user && current_user.role == "customer" %>
          <li class="nav-item">
<!--            商城就是所有卖家的index  index显示他们的所有商店-->
            <%= link_to '商城', customers_commodities_path , class: "nav-link#{" active" if controller_name == "users"}" %>
          </li>

          <li class="nav-item">
<!--            消息就是模拟交易成功消息 以及各种#待定#的功能   包括确认订单地址~~~~-->
            <%= link_to '消息', home_about_path, class: "nav-link#{" active" if controller_name == "users"}" %>
          </li>
          <li class="nav-item">
<!--            购物车就是所done = false的order-->
            <% if current_user.customer %>
              <%= link_to '购物车', customer_cart_path(current_user.customer.id), class: "nav-link#{" active" if controller_name == "customers"}" %>
            <% end %>
            <%#= link_to '购物车',customer_cart_path(current_user.customer), class: "nav-link#{" active" if controller_name == "users"}" %>
          </li>

<!--       #############     商家部分 ##########-->
          <% elsif current_user && current_user.role == "seller" %>
            <li class="nav-item">
              <!--            商城就是所有卖家的index  index显示他们的所有商店-->
              <%= link_to '我的店铺', seller_shops_path(current_user.seller), class: "nav-link#{" active" if controller_name == "users"}" %>
            </li>
<!--         #############   管理员部分 #########-->
          <% elsif current_user && current_user.role == "admin" %>
            <li class="nav-item">
              <%= link_to '所有交易', orders_admin_path(current_user.admin), class: "nav-link#{" active" if controller_name == "admin"}" %>
            </li>
            <li class="nav-item">
              <%= link_to '上市商品',commodities_admin_path(current_user.admin) , class: "nav-link#{" active" if controller_name == "admin"}" %>
            </li>
            <li class="nav-item">
              <%= link_to '所有已注册顾客',customers_path , class: "nav-link#{" active" if controller_name == "admin"}" %>
            </li>
            <li class="nav-item">
              <%= link_to '所有已注册商家',sellers_path , class: "nav-link#{" active" if controller_name == "admin"}" %>
            </li>
            <li class="nav-item">
              <%= link_to '所有用户', user_index_path,  class: "btn btn-primary d-flex" %>&nbsp;
            </li>

          <%end %>

        </ul>
        <div class="dropdown">
          <a class="btn btn-light dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            我的
          </a>

          <ul class="dropdown-menu">
            <li><%= link_to '个人信息', customer_path(current_user.customer.id), class: "dropdown-item clickable", style: "color: #1b1e21; background-color: transparent;" %><span class="sr-only"></span></li>
            <li><%= link_to '添加收货地址', new_customer_addresses_path(current_user.customer), class: "dropdown-item clickable", style: "color: #1b1e21; background-color: transparent;" %><span class="sr-only"></span></li>
            <li><%= link_to '充值', recharge_customer_path(current_user.id), class: "dropdown-item clickable", style: "color: #1b1e21; background-color: transparent;" %><span class="sr-only"></span></li>
          </ul>
        </div>
      </div >
      <% if current_user %>
        <span class="navbar-text">Hello <%= current_user.user_name %></span>&nbsp;
        <% if current_customer? %>
          &nbsp;<span class="navbar-text">余额 <%= current_user.balance %></span>&nbsp;
        <% end %>
        <%= current_user.role %>
        <%= link_to '个人', user_path(current_user), class: "btn btn-navbar btn-info d-flex" %>&nbsp;
        <%= button_to '退出', destroy_user_session_path, method: :delete, class: "btn btn-secondary btn-navbar d-flex" %>
      <% else %>
        <%= link_to '登录', new_user_session_path, class: "btn btn-primary btn-navbar d-flex" %>&nbsp;
        <%= link_to '注册', new_user_registration_path, class: "btn btn-secondary btn-navbar d-flex" %>
      <% end %>
    </div>
  </nav>
  <!-- 用来提示信息-->

  <% if notice%>
    <div style= "margin: 0" class="alert alert-success alert-dismissible fade show" role="alert">
      <div class="notice  alert-success"  ><%= notice %></div>
      <input type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></input>
    </div>
  <%end %>
  <%if alert %>
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      <div class="notice  alert-success"  ><%= alert %></div>
      <input type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></input>
    </div>
  <%end %>

  <div class="row">
    <div class="col">
      <%= yield %>
    </div>
  </div>

  <footer class="py-5">
    <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top">
      <p>Copyright hzt &copy; 2023. All rights reserved.</p>
    </div>
  </footer>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const navbarButtons = document.querySelectorAll('.btn-navbar');

        navbarButtons.forEach(button => {
            button.addEventListener('mouseover', () => {
                button.style.transform = 'scale(1.1)'; // Customize the scale factor
            });

            button.addEventListener('mouseout', () => {
                button.style.transform = 'scale(1)';
            });
        });
    });
</script>
</body>

</html>
