<div id="<%= dom_id order %>">

    <!--  显示商品的信息-->

  <tr style="cursor: pointer;">
    <td><%= link_to order.commodity.commodity_name, current_seller? ? seller_order_path(current_user.seller,order) : customer_order_path(current_user.customer,order),style: "text-decoration: none;" %></td>
    <td><%= order.count %></td>
    <td><%= order.done %></td>
    <td>￥<%= order.count * order.commodity.price %></td>
    <td><%= order.address.full_address %></td>
    <td><%= order.created_at.strftime('%Y-%m-%d %H:%M:%S') %></td>
    <td><%= order.done ? "已支付" : "待支付" %></td>
    <!-- Add more columns if needed -->
  </tr>


<hr/>

</div>
