<%= stylesheet_link_tag 'commodity' %>
<h1>商品列表</h1>

<div class="commodities-container">
  <% if @commodities.any? %>
    <ul>
      <% @commodities.each do |commodity| %>
        <div class="commodities-item">
          <%= render 'commodities/commodity', commodity: commodity %>
        </div>
      <% end %>
    </ul>
  <% else %>
    <p class="no-commodities-message">抱歉，商城还没有商品上市或者您想要的宝贝咱还在加急上架中哦~~</p>
  <% end %>
</div>
<hr/>
<% if current_seller?%>
<%= link_to "新增商品", new_seller_shop_commodity_path(@seller,@shop) ,class: "btn btn-primary"%>
<%= link_to "返回", seller_shops_path(@seller),class: "btn btn-secondary" %>
<%elsif current_customer?%>
  <%#= link_to "新增商品", new_seller_shop_commodity_path(@seller,@shop) ,class: "btn btn-primary"%>
  <%= link_to "返回", customers_commodities_path,class: "btn btn-secondary" %>
<%end %>