<%= stylesheet_link_tag 'commodity' %>

<%= form_tag customers_commodities_path, method: :get, class: "form-inline mb-2" do %>
  <div class="d-flex align-items-center">
    <div class="form-group mr-2">
      <label for="category-filter" class="visually-hidden">类别:</label>
<!--      <svg id="category-filter" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-balloon-fill" viewBox="0 0 16 16">-->
<!--        <path fill-rule="evenodd" d="M8.48 10.901C11.211 10.227 13 7.837 13 5A5 5 0 0 0 3 5c0 2.837 1.789 5.227 4.52 5.901l-.244.487a.25.25 0 1 0 .448.224l.04-.08c.009.17.024.315.051.45.068.344.208.622.448 1.102l.013.028c.212.422.182.85.05 1.246-.135.402-.366.751-.534 1.003a.25.25 0 0 0 .416.278l.004-.007c.166-.248.431-.646.588-1.115.16-.479.212-1.051-.076-1.629-.258-.515-.365-.732-.419-1.004a2.376 2.376 0 0 1-.037-.289l.008.017a.25.25 0 1 0 .448-.224l-.244-.487ZM4.352 3.356a4.004 4.004 0 0 1 3.15-2.325C7.774.997 8 1.224 8 1.5c0 .276-.226.496-.498.542-.95.162-1.749.78-2.173 1.617a.595.595 0 0 1-.52.341c-.346 0-.599-.329-.457-.644Z"/>-->
<!--      </svg>-->
      <%= select_tag 'category', options_for_select(Category.all.map { |c| [c.name, c.id] }, params[:category]), class: 'form-control ' %>
    </div>


    <!-- 输入框供用户输入商品名 -->
    <div class="form-group mr-2">
      <%= label_tag 'commodity_name', '商品名:', class: 'sr-only visually-hidden' %>
      <%= text_field_tag 'commodity_name', params[:commodity_name], class: 'form-control', placeholder: '输入商品名' %>
    </div>


    <!-- 搜索框图标，使用 Bootstrap Icons 作为示例 -->
    <button type="submit" class="btn btn-primary">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
      </svg>
    </button>

  </div>
<% end %>




<div class="commodities-container">
  <% if @commodities.any? %>
    <ul>
      <% @commodities.each do |commodity| %>
        <div class="commodities-item">
          <%= render 'commodities/commodity', commodity: commodity %>
        </div>
      <% end %>
    </ul>
  <% else %>
    <p class="no-commodities-message">抱歉，商城还没有商品上市或者您想要的宝贝咱还在加急上架中哦~~</p>
  <% end %>
</div>
<!--<script>-->
<!--    document.getElementById('category-filter').addEventListener('click', function() {-->
<!--        // Trigger the change event on the hidden select element-->
<!--        var select = document.querySelector('#category');-->
<!--        select.dispatchEvent(new Event('change'));-->
<!--    });-->
<!--</script>-->
